.items {
  display: flex;
  background: white;
  border-radius: 16px;
  padding: 40px 72px 40px 40px;
  max-width: 1340px;
  margin-bottom: 36px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04);
}

.link {
  text-decoration: none;
  color: #081f32;
}
.link:hover {
  color: lightblue;
}

.avatar {
  width: 128px;
  height: 144px;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.repo {
  padding-left: 32px;
}

.repoName {
  font-family: "DM Serif Display", serif;
  font-size: 22px;
  line-height: 25px;
  color: #081f32;
}

.auther,
.language,
.description {
  font-size: 16px;
  line-height: 25px;
  color: #a5adbb;
  font-family: "Open Sans", sans-serif;
}

.auther,
.language {
  margin-top: 8px;
}

.description {
  color: #6e798c;
  margin-top: 6px;
}

.followers {
  margin-left: auto;
  margin-top: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #081f32;
}

.rating {
  display: flex;
  align-items: center;
}

.countStars,
.star {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.countStars,
.countWatchers {
  margin-left: 13px;
}

.star {
  color: #6e798c;
  font-weight: 400;
}

.watchers {
  margin-top: 23px;
  display: flex;
  align-items: center;
}
